body,
html {
  height: 100%;
  margin: 0;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    text-align: center;
}
.container div {
    border: 1px solid red;
}

.sidebar {
    background-color: aquamarine;
    grid-row: 1 / 3;
    display: grid;
    
}

.sidebar ul, .sidebar li {
    list-style-type: none;
}

.header {
    background-color: lightcyan;
}

.main-content {
    background-color: yellowgreen;
}