body,
html {
  height: 100%;
  margin: 0;
  font-family: "Outfit", sans-serif;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

img {
    width: 20px;
    height: 20px;
}

.sidebar {
    background-color: #15803d;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 10% 30% 20%;
    align-items: center;
}

.sidebar ul, .sidebar li {
    list-style-type: none;
    padding: 0;
}

.sidebar ul {
    display: grid;
    gap: 16px;
    padding-left: 10%;
}

.sidebar-title, .sidebar li{
    display: flex;
    gap: 8px;
    align-items: flex-end;
    filter: invert(1);
}

.sidebar-title {
    align-items: center;
}

.sidebar-title img {
    width: 35px;
    height: 35px;
    color: white;
}

.sidebar-title {
    padding-left: 5%;
}

.header {
    background-color: #fafafa;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.search-section, .profile-info-section, .welcome-section, .button-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.welcome-section {
    justify-content: flex-start !important;
}

.search-section, .welcome-section {
    margin-left: 5%;
}

#big-avatar-icon {
    width: 80px;
    height: 80px;
}

#small-avatar, .trend-avatar {
    width: 40px;
    height: 40px;
}

#search-bar {
    flex: 1;
    border-radius: 10px;
    border-style: none;
    height: 25px;
    background-color: #e5e7eb;
    padding-left: 12px;
}

.welcome-text h2 {
    margin: 0;
}

.button-group, .profile-info-section {
    justify-content: flex-end !important;
    margin-right: 5%;
}

.button-group button {
    border-radius: 20px;
    border-style: none;
    width: 100px;
    height: 35px;
    background-color: #15803d;
    font-weight: 600;
    color: white;
}

button:hover {
    background-color: #23d464;
}

.main-content {
    background-color: #e5e7eb;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 16px 16px 32px 16px;
    gap: 16px;
}

h3 {
    margin: 0;
}

.project-section {
    grid-row: 1 / 3;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
}

.card, .card-side {
    background-color: #fafafa;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
}

.card:hover, .card-side:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    border-left: 8px solid #fdba74;
    position: relative;
}

.card p {
    margin: 0;
    font-size: 14px;
    padding-right: 20px;
    color: rgb(77, 76, 76);
    margin-bottom: 44px;
}

.card span {
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 8px;
    font-size: 16px;
}

.icon-container {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    position: absolute;
    right: 16px;
    bottom: 16px;
}

.announcements-section, .project-section, .trending-section {
    display: grid;
    grid-template-rows: 30px auto;
}

hr, .note-container {
    width: 80%;
    margin: 0 auto;
}

.card-side {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 4px;
    padding: 16px 0;
}

.note-container span {
    font-weight: 600;
    font-size: 14px;
}

.note-container p {
    margin: 0;
    font-size: 12px;
    color: rgb(77, 76, 76);
}

.trend {
    padding: 0;
    padding-left: 32px;
    align-items: flex-start;
}

.trend-profile {
    display: flex;
    gap: 16px;
}

.tag {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.handle {
    font-weight: 600;
    font-size: 14px;
}

.tag:nth-child(2) {
    font-size: 14px;
    color: rgb(77, 76, 76);
}